* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v517_575 {
  width: 100%;
  height: 1080px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_576 {
  width: 100%;
  height: 150px;
  background: url("../images/v517_576.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1050px;
  left: 0px;
  overflow: hidden;
}
.v517_577 {
  width: 700px;
  height: 1200px;
  background: rgba(149,106,106,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_578 {
  width: 100%;
  height: 150px;
  background: url("../images/v517_578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_579 {
  width: 100%;
  height: 1500px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 549px;
  transform: rotate(-23deg);
  overflow: hidden;
}
.v517_580 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_581 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_582 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_582.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_583 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_584 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_584.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_585 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_586 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_587 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_587.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_588 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_588.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_589 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_590 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_591 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_592 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_593 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_593.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_594 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_594.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_595 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_595.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 56px;
  overflow: hidden;
}
.v517_596 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_597 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_598 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_599 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_600 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_601 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_602 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_603 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_604 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_604.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_605 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_606 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_606.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_607 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_608 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_609 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_610 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 112px;
  overflow: hidden;
}
.v517_611 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_612 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_613 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_614 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_615 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_615.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_616 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_616.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_617 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_618 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_618.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_619 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_620 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_620.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_621 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_622 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_623 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_624 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_625 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 385px;
  left: 168px;
  overflow: hidden;
}
.v517_626 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_627 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_628 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_629 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_630 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_631 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_632 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_633 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_634 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_635 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_636 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_637 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_638 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_638.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_639 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_639.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_640 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 224px;
  overflow: hidden;
}
.v517_641 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_642 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_643 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_644 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_645 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_646 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_647 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_648 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_649 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_650 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_651 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_652 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_653 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_654 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_655 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 280px;
  overflow: hidden;
}
.v517_656 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_657 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_658 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_659 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_660 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_661 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_662 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_663 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_664 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_665 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_666 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_667 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_668 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_668.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_669 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_670 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 336px;
  overflow: hidden;
}
.v517_671 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_672 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_673 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_674 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_675 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_676 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_677 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_678 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_678.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_679 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_679.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_680 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_681 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_682 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_683 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_683.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_684 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_685 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 898px;
  left: 392px;
  overflow: hidden;
}
.v517_686 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_686.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_687 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_688 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_689 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_690 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_691 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_692 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_692.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_693 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_694 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_695 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_696 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_696.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_697 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_698 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_698.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_699 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_700 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1026px;
  left: 448px;
  overflow: hidden;
}
.v517_701 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_701.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_702 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_702.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_703 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_703.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_704 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_705 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_706 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_707 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_708 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_709 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_710 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_711 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_712 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_712.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_713 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_714 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_714.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_715 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1155px;
  left: 504px;
  overflow: hidden;
}
.v517_716 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_716.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_717 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_718 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_719 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_719.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_720 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_721 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_722 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_723 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_724 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_724.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_725 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_725.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_726 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_727 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_728 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_729 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_729.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v517_730 {
  width: 100%;
  height: 140px;
  background: url("../images/v517_730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1283px;
  left: 560px;
  overflow: hidden;
}
.v517_731 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_731.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v517_732 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_732.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 917px;
  overflow: hidden;
}
.v517_733 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 1009px;
  overflow: hidden;
}
.v517_734 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 480px;
  left: 1101px;
  overflow: hidden;
}
.v517_735 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 1192px;
  overflow: hidden;
}
.v517_736 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_736.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 826px;
  overflow: hidden;
}
.v517_737 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_737.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 734px;
  overflow: hidden;
}
.v517_738 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_738.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 642px;
  overflow: hidden;
}
.v517_739 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_739.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 551px;
  overflow: hidden;
}
.v517_740 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_740.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 459px;
  overflow: hidden;
}
.v517_741 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_741.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 367px;
  overflow: hidden;
}
.v517_742 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_742.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 276px;
  overflow: hidden;
}
.v517_743 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_743.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 184px;
  overflow: hidden;
}
.v517_744 {
  width: 100px;
  height: 140px;
  background: url("../images/v517_744.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v524_834 {
  width: 600px;
  height: 625px;
  background: url("../images/v524_834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 655px;
  overflow: hidden;
}
.v524_807 {
  width: 582px;
  height: 80px;
  background: url("../images/v524_807.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 349px;
  left: 0px;
  overflow: hidden;
}
.v524_797 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 20px;
  overflow: hidden;
}
.v524_798 {
  width: 20px;
  height: 20px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 22px;
}
.v524_799 {
  width: 56px;
  height: 56px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
}
.v524_808 {
  width: 233px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 125px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v524_818 {
  width: 569px;
  height: 80px;
  background: url("../images/v524_818.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 0px;
  overflow: hidden;
}
.v524_822 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 125px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v524_823 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 20px;
  overflow: hidden;
}
.v524_824 {
  width: 52px;
  height: 52px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
.v524_825 {
  width: 600px;
  height: 80px;
  background: url("../images/v524_825.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 545px;
  left: 0px;
  overflow: hidden;
}
.v524_826 {
  width: 321px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 125px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v524_829 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 20px;
  overflow: hidden;
}
.v524_830 {
  width: 56px;
  height: 40px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 4px;
}
.v524_832 {
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 119px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  overflow: hidden;
}
.v524_835 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 1148px;
  overflow: hidden;
}
.v524_836 {
  width: 100px;
  height: 100px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v517_745 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 50px;
  overflow: hidden;
}
.v517_746 {
  width: 31px;
  height: 53px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 16px;
}
.v517_750 {
  width: 100%;
  height: 1083px;
  background: rgba(255,248,248,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 805px;
  overflow: hidden;
}
.v517_764 {
  width: 550px;
  color: rgba(149,106,106,1);
  position: absolute;
  top: 202px;
  left: 283px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Source Serif Pro;
  font-weight: SemiBold;
  font-size: 65px;
  opacity: 1;
  text-align: center;
}
.v527_2 {
  width: 600px;
  height: 100px;
  background: url("../images/v527_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 258px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v527_3 {
  width: 326px;
  color: rgba(149,106,106,1);
  position: absolute;
  top: 28px;
  left: 40px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v527_4 {
  width: 600px;
  height: 100px;
  background: url("../images/v527_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 258px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v527_5 {
  width: 144px;
  color: rgba(149,106,106,1);
  position: absolute;
  top: 28px;
  left: 40px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v527_6 {
  width: 600px;
  height: 100px;
  background: url("../images/v527_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 670px;
  left: 258px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v527_7 {
  width: 129px;
  color: rgba(149,106,106,1);
  position: absolute;
  top: 28px;
  left: 48px;
  font-family: Source Serif Pro;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v527_10 {
  width: 350px;
  height: 100px;
  background: rgba(164,164,164,1);
  opacity: 1;
  position: absolute;
  top: 859px;
  left: 602px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v527_11 {
  width: 165px;
  color: rgba(255,248,248,1);
  position: absolute;
  top: 20px;
  left: 92px;
  font-family: Source Serif Pro;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v527_12 {
  width: 350px;
  height: 100px;
  background: rgba(164,164,164,1);
  opacity: 1;
  position: absolute;
  top: 859px;
  left: 195px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v527_13 {
  width: 165px;
  color: rgba(255,248,248,1);
  position: absolute;
  top: 20px;
  left: 92px;
  font-family: Source Serif Pro;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v517_765 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 783px;
  overflow: hidden;
}
.v517_766 {
  width: 64px;
  height: 64px;
  background: url("../images/v517_766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1806px;
  overflow: hidden;
}
.v517_767 {
  width: 64px;
  height: 64px;
  background: rgba(149,106,106,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
